//Responsive Font Sizes
@mixin set-font-size($small-font: $text-small, $medium-font: $text-regular, $large-font: $text-large) {
    font-size: #{$small-font};

    @include breakpoint($large) {
        font-size: #{$medium-font};
    }

    @include breakpoint($x-large) {
        font-size: #{$large-font};
    }
}

@mixin web-font($font-name, $file-path, $file-name, $font-weight) {
    $full-path: $file-path + $file-name;

    @font-face {
        font-family: $font-name;
        font-weight: $font-weight;
        src: url('#{$full-path}.woff');
    }
}

//Return retina sprite
@mixin retina-sprite-custom($retina-group) {
    $normal-sprite: nth($retina-group, 2);
    $retina-sprite: nth($retina-group, 3);
    @include sprite($normal-sprite);
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
}

@mixin clearfix {
    &::after {
        clear: both;
        content: '';
        display: table;
    }
}

@mixin absolute-center {
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    top: 0;
}

@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    transform: translateY(-50%);
}
