// Grid
$row-width: 120rem !default;
$max-width: 80%;

//Colors
$black: #000;
$white: #fff;
$grey: #999;
$grey-light: #f5f5f5;

//Typefaces
$arial: 'Arial', sans-serif;

//Font faces
$font-regular: 'San Francisco Regular';
$font-medium: 'San Francisco Medium';
// @include web-font($font-regular, 'static/fonts/', 'sanfranciscodisplay-regular-webfont', 400);
// @include web-font($font-medium, 'static/fonts/', 'sanfranciscodisplay-medium-webfont', 500);

@font-face {
    font-family: 'San Francisco';
    font-weight: 400;
    src: url('//applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff');
}

/** Medium */
@font-face {
    font-family: 'San Francisco';
    font-weight: 500;
    src: url('//applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff');
}


//Font sizes
$text-small: 1.4rem;
$text-regular: 1.6rem;
$text-medium: 2.2rem;
$text-large: 3rem;
$text-xlarge: 4rem;

//Breakpoints
$small: 540px;
$medium: 768px;
$large: 1024px;
$x-large: 1180px;
$xx-large: 1600px;

//Spacing
$margin-default: 4rem;

//Global
$primary-font: 'San Francisco';
$primary-font-color: $black;
$primary-font-size: $text-regular;
$primary-font-weight: normal;
$primary-link-color: $black;

//Hamburger menu
$hamburger-color: $black;
$hamburger-background-color: red;
$hamburger-width: 30px;                // The width of the button area
$hamburger-height: 30px;               // The height of the button area
$hamburger-bar-thickness: 3px;         // The thickness of the button bars
$hamburger-bar-space: 4px;             // The spacing between button bars
$hamburger-pad: 5px;                     // The left/right padding between button area and bars.
$hamburger-transistion-duration: .3s;  // The transition duration
