[type='button'],
[type='reset'],
[type='submit'],
button {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0;
    border-radius: 0;
    box-shadow: 0;
}

.button {
    display: inline-block;
}
