<template>
<div id="app">
    <site-header></site-header>
    <div class="root">
        <transition name="a-fade" enter-active-class="a-fade-enter--active" leave-active-class="a-fade-leave--active" mode="out-in">
            <router-view></router-view>
        </transitiaon>
    </div>
</div>
</template>

<script>
import SiteHeader from './Header.vue';

let __svg__ = {
    path: '../assets/svg/**/*.svg',
    name: 'assets/svg/[hash].logos.svg'
};
require('webpack-svgstore-plugin/src/helpers/svgxhr')(
    __svg__);

export default {
    components: {
        SiteHeader
    }
}
</script>

<style lang="sass">@import '../sass/style.scss'</style>
