<template>
    <div class="c-image">
        <img v-if="thumbSrc" :src="thumbSrc" :class="{'c-image__thumb': 1,'c-image__thumb--is-loaded': thumbIsLoaded}">
        <img :src="mainSrc" :class="{'c-image__main': 1, 'c-image__main--is-loaded': mainIsLoaded}">
    </div>
</template>

<script>
    export default {
        props: ['img-obj', 'callback'],
        data() {
            return {
                thumbSrc: '',
                mainSrc: '',
                thumbIsLoaded: false,
                mainIsLoaded: false
            }
        },
        created() {
            this.loadThumbnail();
        },
        watch: {
            imgObj(newImgObj) {
                if (newImgObj) {
                    this.loadThumbnail();
                }
            }
        },
        methods: {
            loadImage(imgSrc, callback) {
                let img = new Image();
                img.src = imgSrc;
                img.onload = () => {
                    callback(img);
                }
            },
            loadThumbnail() {
                this.thumbSrc = this.imgObj.thumbnailSrc;
                this.loadImage(this.imgObj.thumbnailSrc, (img) => {
                    this.thumbIsLoaded = true;
                    this.loadMainImage();
                });
            },
            loadMainImage() {
                this.mainSrc = this.imgObj.mainSrc;
                this.loadImage(this.imgObj.mainSrc, (img) => {
                    setTimeout(() => this.thumbSrc =
                        null, 2000);
                    this.mainIsLoaded = true;
                    if (this.callback) {
                        this.callback();
                    }
                });
            }
        }
    }
</script>
