<template>
    <ul class="c-nav">
        <ul class="c-nav__list">
            <li class="c-nav__list-item" v-for="filter in filterList">
                <router-link
                    :to="{name: 'photography', params: {category: filter.path}}"
                    active-class="c-nav__link--is-active"
                    class="c-nav__link"
                >{{filter.name}}</router-link>
            </li>
        </ul>
    </ul>
</template>

<script>
import { mapState } from 'vuex';
import { mapActions } from 'vuex';

export default {
    computed: {
        ...mapState({
            filterList: state => state.gallery.filterList
        })
    },
    methods: {
        ...mapActions([
            'getFilters',
        ])
    },
    created() {
        this.getFilters();
    }
}
</script>
