<template>
    <div class="l-gallery l-container l-container--wide">
        <lightbox></lightbox>
        <gallery-filter></gallery-filter>
        <gallery-grid></gallery-grid>
    </div>
</template>

<script>
import GalleryGrid from './GalleryGrid';
import GalleryFilter from './GalleryFilter';
import Lightbox from './Lightbox.vue';

export default {
    components: {
        GalleryFilter,
        GalleryGrid,
        Lightbox
    }
}
</script>
