<template>
<div class="l-gallery-grid">
    <div v-for="img in imagesListComplete" :key="img" @click="handleClick(img)" :style="'flex-grow:' + img.growRatio + ';flex-basis:' + img.aspectRatio*rowHeight + 'px'" class="l-gallery-grid__item">
        <div class="l-gallery-grid__item-canvas" :style="'padding-bottom:' + img.aspectRatioPercentage + '%'">
            <blurry-image-loader v-if="img.toBeLoaded" :imgObj="img">
            </blurry-image-loader>
        </div>
    </div>
</div>
</template>

<script>
import Helpers from '../helpers/helpers';

//Components
import BlurryImageLoader from './BlurryImageLoader.vue';


//Maps
import { mapState } from 'vuex';
import { mapGetters } from 'vuex';
import { mapActions } from 'vuex';
import { mapMutations } from 'vuex';

let oldChildren = [];

export default {
    name: 'app',
    computed: {
        ...mapState({
            rowHeight: state => state.gallery.rowHeight,
            imagesList: state => state.gallery.imagesList,
            lightBoxIsOpen: state => state.lightbox.lightBoxIsOpen
        }),
        ...mapGetters([
            'imagesListComplete',
        ])
    },
    methods: {
        ...mapActions([
            'loadGrid',
            'loadImageOnScroll',
            'getImagesPosition',
            'setCurrentImageById',
            'setNextAndPrevImages'
        ]),
        ...mapMutations([
            'setImagesToLoad',
            'setCurrentImage',
            'toggleLightBox',
            'openLightbox'
        ]),
        handleClick(img) {
            if (window.outerWidth > 680) {
                this.$router.push({
                    name: 'photo',
                    params: {
                        category: this.$route.params.category,
                        photoid: img.id
                    }
                })
            }
        }
    },
    watch: {
        '$route' (to, from) {
            this.loadGrid(this.$route.params.category);

            this.$nextTick(() => {
                let children = [].slice.call(this.$el
                    .children);
                this.getImagesPosition(children);
                this.setImagesToLoad();
            });

            if(to.params.photoid) {
                this.setCurrentImageById(to.params.photoid);
                this.openLightbox();
            } else {
                this.setCurrentImage(null);
            }

        }
    },
    components: {
        BlurryImageLoader
    },
    created() {
        this.loadGrid(this.$route.params.category);

        //Open lightbox if url includes a photoid

        if (this.$route.params.photoid) {
            this.setCurrentImageById(this.$route.params.photoid);
            this.openLightbox();
        }
    },
    mounted() {
        this.$nextTick(() => {
            let children = [].slice.call(this.$el.children);
            this.getImagesPosition(children);
            this.setImagesToLoad();
            this.loadImageOnScroll();
        });
    }
}
</script>
