<template>
<header class="l-header">
    <nav class="c-nav">
        <!-- <h2 class="c-nav__logo">Milad Alizadeh</h2> -->
        <ul class="c-nav__list">
            <li class="c-nav__list-item">
                <router-link
                    active-class="c-nav__link--is-active"
                    class="c-nav__link"
                    to="/" exact
                >
                    web development
                </router-link>
            </li>
            <li class="c-nav__list-item">
                <router-link
                    active-class="c-nav__link--is-active"
                    class="c-nav__link"
                    to="/photography/spain"
                >
                    photography
                </router-link>
            </li>
            <li class="c-nav__list-item">
                <router-link
                    active-class="c-nav__link--is-active"
                    class="c-nav__link"
                    to="/about"
                >
                    about
                </router-link>
            </li>
            <li class="c-nav__list-item">
                <router-link
                    active-class="c-nav__link--is-active"
                    class="c-nav__link"
                    to="/contact"
                >
                    contact
                </router-link>
            </li>
        </ul>
    </nav>
</header>
</template>

<script>
import { mapActions } from 'vuex';
import { mapState } from 'vuex';

export default {
    computed: {
        ...mapState({
            filterList: state => state.gallery.filterList
        }),
    },
    methods: {
        ...mapActions([
            'getFilters'
        ])
    },
    created() {
        this.getFilters();
    }
}
</script>
