.c-nav {
    text-align: center;

    &__logo {
        font-size: 2.4rem;
        font-weight: 500;
        margin-bottom: 2.5rem;
        user-select: none;
    }

    &__list {
        display: inline-block;
        lost-utility: clearfix;
        margin: auto;
    }

    &__list-item {
        float: left;
        margin: 0 1rem;
        font-weight: 400;
    }

    &__link {
        color: $black;
        display: block;
        font-weight: 400;
        line-height: 2;
        padding: 0;
        position: relative;


        &::after {
            background: rgba($black, .3);
            bottom: 0;
            content: '';
            height: 2px;
            left: 0;
            opacity: 0;
            position: absolute;
            transform: scaleY(2) translateY(5px);
            transition: all .3s;
            width: 100%;
        }

        &--is-active {
            &::after {
                background: $black;
                opacity: 1;
                transform: none;

                &:hover {
                    transform: none;
                }
            }
        }

        &:hover {
            &::after {
                opacity: 1;
                transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
            }
        }
    }
}
